@import '../../styles/font.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Login{
    height: 100vh;
    width: 100vw;
    padding: 37px 26px;
    
    .container{
        display: block;

        .back-btn{
            margin-bottom: 105px;
            margin-bottom: 50px;
            padding-top: 15px;
            width: size(38);
            height: size(38);
            box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-form{

            h1{
                margin-bottom: 31px;
                font-size: size(30);
            }
            .form-item{
                display: flex;
                flex-direction: column;
                
                label{
                    margin-bottom: 12px;
                }

                input{
                    margin-bottom: 29px;
                    padding: 0 20px;
                    height: size(65);
                    border: 1px solid #EEEEEE;
                    box-shadow: 15px 20px 45px rgba(233, 233, 233, 0.25);
                    border-radius: 10px;
                    font-weight: 400;
                    font-size: size(17);
                    line-height: size(17);
                    color: #C4C4C4;

                    &:focus{
                        outline-color: #FE724C;
                    }
                }
            }
        }

        .btn-container{
            // margin-top: 32px;
            margin-bottom: 56px;
            height: 124px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .forgot-password{
                font-size: size(14);
                font-weight: 400;
                line-height: 14px;
                color: #FE724C;;
            }

            .login-btn{
                width: 248px;
                height: 60px;
                background-color: #FE724C;
                box-shadow: 0px 10px 40px rgba(122, 129, 190, 0.16);
                border-radius: 28.5px;color: #EEEEEE;
            }

            .sign-up{
                font-size: size(14);
                line-height: size(14);
                font-weight: 400;
                color: #5b5b5e;

                span{
                    color: #FE724C;
                }

            }
        }

        .sign-in-with{

            fieldset{
                width: 100%;
                text-align: center;
                border-left: none;
                border-right: none;
                border-bottom: none;
                display: flex;
                border-color: rgba(179, 179, 179, 0.5);

                legend{
                    padding: 0 10px 0 10px;
                }

                .social-signin{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    
                    .social-item{
                        width: 147px;
                        height: 57px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        background: #FFFFFF;
                        box-shadow: 18.587px 18.587px 37.1739px rgba(211, 209, 216, 0.25);
                        border-radius: 28.5px;

                        p{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 13px;
                            letter-spacing: 0.05em;
                            color: #000000;
                        }
                    }
                }
            }
        }
    }
}