@import '../../styles/font.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Home{
    height: 100vh;
    width: 100vw;
    padding: 37px 26px;

    .container{

       .header{
            margin-bottom: 32px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .hamburger-btn{
                height: size(38);
                width: size(38);
                background: #FFFFFF;
                box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                
                .bar-container{
                    height: size(15);
                    width: max-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    .bar{
                        height: size(3);
                        width: size(20);
                        background-color:#111719;
                        border-radius: 12px;

                        &:nth-child(2){
                            width: size(15);
                        }
                    }
                }
            }


            .deliver-to{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .dropdown{
                    display: flex;
                    align-items: center;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 122.3%;
                    text-align: center;
                    color: #8C9099;
                }

                .location{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 122.3%;
                    text-align: center;
                    color: #FE724C;
                }
            }

            .home-profile{
                height: size(38);
                width: size(38);
                filter: drop-shadow(0px 5px 16px rgba(255, 197, 41, 0.3));
                border-radius: 12px;
            }
       }

       .search-title{
            margin-bottom: 19px;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 30px;
            color: #323643;
       }
       
       .search-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .input-container{
                padding: 5px;
                width: 90%;
                display: flex;
                background: #FCFCFD;
                border: 1px solid #EFEFEF;
                border-radius: 10px;
                
                input{
                    margin: 0 10px;
                    width: 100%;
                    outline: none;
                    border: none;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    color: #9AA0B4;
                }
            }

            img{
                height: size(19);
                width: size(19);
                // border-radius: 14px;
            }
       }
    }
}